body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
  background-image: url(../public/background.webp);
  background-size: unset;
  background-position: center 0;
  background-repeat: no-repeat;
}